<div class="intro">
	<br>
	<p>
		Hi, I'm <b>Neil</b>.
	</p>
	<h1>
		I like to create...
	</h1>
</div>

<div class="creation">
	<div class="options noselect">
		<div class="top-text not-selected" {{action 'setCreation' prevCreation}}>{{prevCreation.value}}</div>
		<div class="center-text" {{action 'openCreation' currCreation.url}}>{{currCreation.value}}</div>
		<div class="bottom-text not-selected" {{action 'setCreation' nextCreation}}>{{nextCreation.value}}</div>
	</div>
	<img src="/assets/images/creation.png"/>
</div>